<%= form_for([:admin, @department], :html => {:id=>"form_department", :class=>"mb-0 form-horizontal", :role => "form", :method => (@department.new_record? ? :post : :put), :remote=>true}) do |f| %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <%= params[:action].titleize %> Department
    </div>
    <div class="panel-body" style="height:auto;">

      <div id="department_form_error">
        <%= @department.errors[:base].to_sentence %>
      </div>

      <div class="form-inputs mb-30 mt-30">

        <%# Name (string)  %>
        <%= theme_form_field(@department, 'name') %>

        <%# Description (textarea) %>
        <%= theme_form_field(@department, 'description', required: false, html_options: {type: 'textarea'}) %>

      </div>

    </div>

    <div class="panel-footer clearfix">
      <div class="pull-right">
        <% show_url = @department.new_record? ? admin_departments_path : admin_department_path(@department) %>
        <%= link_to "Cancel", show_url, class: "btn btn-default", remote: true %>
        <%= theme_form_button(@department) %>
      </div>
    </div>
  </div>
<% end %>

