<% if @department.errors.blank? %>
  // Fill the right box with first department details
  $('#div_department_details').html("<%= escape_javascript(render(:partial=>'show')) %>");

  // Add the newly created item to the list
  $("#div_department_index").prepend("<div id=\"div_department_<%= @department.id %>\"><%= escape_javascript(render(:partial => 'item', :locals => { :department => @department })) %></div>")
  $(".panel-message").hide();
<% else %>
  $('#div_department_details').html("<%= escape_javascript(render(:partial=>'form')) %>");
  // validateDepartmentForm();

  // Populate Server Side Errors
  <%
    text = "You have few errors. They have been highlighted."
    error_message = content_tag(:div, text, class: "alert alert-danger")
  %>
  $("#department_form_error").html("<%= escape_javascript(error_message) %>");
<% end %>
