<%= theme_heading("Manage Departments") %>

<div class="row mb-10">
	<div class="col-sm-6">
		<%= theme_button('New Department', 'plus', new_admin_department_path) %>
	</div>
	<div class="col-sm-6">
		<%= theme_search_form(Department, admin_departments_path) %>
  </div>
</div>

<%# Renders a partial to display all the departments %>
<div class="row">
	<div id="div_department_index" class="col-sm-6 hidden-xs">
		<%= render :partial=>"index" %>
	</div>
	<div id="div_department_drop_down" class="col-xs-12 visible-xs">
		<%= theme_drop_down(@departments, :name) %>
	</div>

	<div id="div_department_details" class="col-xs-12 col-sm-6">
		<%= theme_detail_box(@departments) %>
	</div>

</div>


