<div class="panel panel-default panel-bordered panel-420 p-20">

  <%= image_tag("/assets/q-auth-220px.png", class: "centered", alt: "Q-Auth Logo") %>

  <hr/>
<%
  redirect_back_url = params[:redirect_back_url] unless defined?(redirect_back_url)
%>

<%= form_tag main_app.forgot_password_path, :role=>"form", id: "form_forgot_password", class: "m-30" do %>

  <%= hidden_field_tag :client_app, params[:client_app] if params[:client_app] %>
  <%= hidden_field_tag :redirect_back_url, params[:redirect_back_url] if params[:redirect_back_url] %>

  <div class="form-group mt-10">
    <label for="sign_in_email">Email</label>
    <%= text_field_tag :email, params[:email], :placeholder=> "Email", :name => "email", :class=>"form-control"%>
  </div>

  <%= submit_tag "Submit", :class => "btn btn-primary pull-right" %>
  <div class="cl-10"></div>

<% end %>
</div>

<div class="cl"></div>