<div class="panel panel-default panel-bordered panel-420 p-20">

  <%= image_tag("/assets/q-auth-220px.png", class: "centered", alt: "Q-Auth Logo") %>

  <hr/>
<%
  redirect_back_url = params[:redirect_back_url] unless defined?(redirect_back_url)
%>

<%= form_for( @user, :url => reset_password_update_path(@user), :html => {:id => "reset_password_form", :method => :put, :class => "form-horizontal"} ) do |f| %>

      <div id="reset_form_error">
        <%= @user.errors[:base].to_sentence %>
      </div>

      <div class="form-inputs mb-30 mt-30">
      <div class="form-group mt-10">
        <%= theme_form_field(@user, 'password', html_options: {type: 'password'}) %>
        </div>
        <div class="form-group mt-10">
        <%= theme_form_field(@user, 'password_confirmation', html_options: {type: 'password'}) %>
        <%= f.hidden_field :reset_password_token,  :value => @user.reset_password_token %>
        </div>
        <div class="pull-right">  
        <%= theme_form_button(@user) %>
        </div>
<% end %>
</div>

<div class="cl"></div>
</div>