<%= form_for([:admin, @designation], :html => {:id=>"form_designation", :class=>"mb-0 form-horizontal", :role => "form", :method => (@designation.new_record? ? :post : :put), :remote=>true}) do |f| %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <%= params[:action].titleize %> Designation
    </div>
    <div class="panel-body" style="height:auto;">

      <div id="designation_form_error">
        <%= @designation.errors[:base].to_sentence %>
      </div>

      <div class="form-inputs mb-30 mt-30">

        <%# Name (string)  %>
        <%= theme_form_field(@designation, 'title') %>

        <%# Description (textarea) %>
        <%= theme_form_field(@designation, 'responsibilities', html_options: {type: 'textarea'}) %>

      </div>

    </div>

    <div class="panel-footer clearfix">
      <div class="pull-right">
        <% show_url = @designation.new_record? ? admin_designations_path : admin_designation_path(@designation) %>
        <%= link_to "Cancel", show_url, class: "btn btn-default", remote: true %>
        <%= theme_form_button(@designation) %>
      </div>
    </div>
  </div>
<% end %>

