<%= flash_message if request.xhr? -%>

<div class="panel panel-default">
  <div class="panel-body" style="height:auto;">
    <div style="height:auto;">
      <div class="pull-left ml-10 text-color-gray" style="width:65%">
        <%= theme_panel_heading(@designation.title) %>
        <%= theme_panel_description(@designation.responsibilities) %>
      </div>
    </div>
  </div>

  <div class="panel-footer mt-20">
    <div class="clearfix fs-12 p-5">
      <%= theme_edit_button(edit_admin_designation_path(@designation)) %>
      <%= theme_delete_button(admin_designation_path(@designation)) %>
    </div>
  </div>

  <div class="cl"></div>
</div>

<%= theme_more_widget(@designation,
          data_columns: [:id, :created_at, :updated_at, :button_text],
          super_admin: true) %>



