<% if @designation.errors.blank? %>
  // Fill the right box with first designation details
  $('#div_designation_details').html("<%= escape_javascript(render(:partial=>'show')) %>");

  // Add the newly created item to the list
  $("#div_designation_index").prepend("<div id=\"div_designation_<%= @designation.id %>\"><%= escape_javascript(render(:partial => 'item', :locals => { :designation => @designation })) %></div>")
  $(".panel-message").hide();
<% else %>
  $('#div_designation_details').html("<%= escape_javascript(render(:partial=>'form')) %>");
  // validateDesignationForm();

  // Populate Server Side Errors
  <%
    text = "You have few errors. They have been highlighted."
    error_message = content_tag(:div, text, class: "alert alert-danger")
  %>
  $("#designation_form_error").html("<%= escape_javascript(error_message) %>");
<% end %>
