<%= theme_heading("Manage Designations") %>

<div class="row mb-10">
	<div class="col-sm-6">
		<%= theme_button('New Designation', 'plus', new_admin_designation_path) %>
	</div>
	<div class="col-sm-6">
		<%= theme_search_form(Designation, admin_designations_path) %>
  </div>
</div>

<%# Renders a partial to display all the designations %>
<div class="row">
	<div id="div_designation_index" class="col-sm-6 hidden-xs">
		<%= render :partial=>"index" %>
	</div>
	<div id="div_designation_drop_down" class="col-xs-12 visible-xs">
		<%= theme_drop_down(@designations, :title) %>
	</div>

	<div id="div_designation_details" class="col-xs-12 col-sm-6">
		<%= theme_detail_box(@designations) %>
	</div>

</div>


