<div class="panel panel-archon mt-10">
  <div class="panel-heading">
    <h3 class="panel-title">More Details
      <span class="pull-right">
      <% if @current_user.user_type != "admin" %>
        <%= link_to "edit", user_edit_path -%>
      <% end %>
      </span>
    </h3>

  </div>
  <div class="panel-body clearfix">
    <table class="table table-condensed table-hover table-striped mt-20">
      <thead>
        <tr>
          <!-- <th>Sl.</th> -->
          <th>Attribute</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
      <% if @current_user.user_type != "admin" %>
        <tr>
          <td>Name</td>
          <td><%= @current_user.name %></td>
        </tr>
        <tr>
          <td>Email</td>
          <td><%= @current_user.email %></td>
        </tr>
        <tr>
          <td>Username</td>
          <td><%= @current_user.username %></td>
        </tr>
        <tr>
          <td>Phone</td>
          <td><%= @current_user.phone %></td>
        </tr>
        <tr>
          <td>Skype Id</td>
          <td><%= @current_user.skype %></td>
        </tr>
        <tr>
          <td>Linkedin</td>
          <td><%= @current_user.linkedin %></td>
        </tr>
        <tr>
          <td>City</td>
          <td><%= @current_user.city %></td>
        </tr>
        <tr>
          <td>State</td>
          <td><%= @current_user.state %></td>
        </tr>
        <tr>
          <td>Country</td>
          <td><%= @current_user.country %></td>
        </tr>
        <tr>
          <td>Designation</td>
          <td><%= @current_user.designation.title %></td>
        </tr>
        <tr>
          <td>Department</td>
          <td><%= @current_user.department.name %></td>
        </tr>
      <% else %>
        <% data_model.class.column_names.each_with_index do |column| %>
          <% next if (column.include?("token") || column.include?("password")) %>
          <% if column.include?("_id") %>
            <% assoc_object = data_model.send(column.gsub("_id", "").to_sym) %>
            <tr class="text-color-gray">
              <!-- <td><%#= index + 1 %>.</td> -->
              <td class="bold"><%= column.titleize %></td>
              <% case assoc_object.class.name %>
              <% when "Designation" %>
                <td><%= assoc_object.title %></td>
              <% when "Department" %>
                <td><%= assoc_object.name %></td>
              <% else %>
                <td><%= assoc_object.class %> not recogonized</td>
              <% end %>
            </tr>
          <% else %>
            <% value = data_model.send(column) %>
            <tr class="text-color-gray">
              <!-- <td><%#= index + 1 %>.</td> -->
              <td class="bold"><%= column.titleize %></td>
              <% case value.class.to_s %>
              <% when "Time" %>
                <td><%= display_time(value) %></td>
              <% else %>
                <td><%= value.blank? ? "<not set>" : value %></td>
              <% end %>
            </tr>
          <% end %>

        <% end %>

      <% end %>
      </tbody>
    </table>

  </div>
  <% if @current_user.user_type == "admin" %>
  <div class="panel-footer clearfix">
    <%= link_to raw("<i class=\"icon-pencil icon-white mr-5\"></i> Edit"), edit_link, :class=>"btn btn-default btn-xs pull-right ml-10", :remote=>true %>
    <%= link_to raw("<i class=\"icon-remove \"></i> Delete"), delete_link, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-danger btn-xs pull-right", :remote=>true %>
  </div>
</div>
<% end %>