<div class="row">
	<div class="col-md-6">
		<div class="panel panel-archon">
			<div class="panel-body">
				<!-- <form class="form-horizontal" role="form"> -->
					<%= form_for( @user, :url => user_update_path, :html => {:id => "update_user_detail", :method => :put, :class => "form-horizontal"} ) do |f| %>
					<div class="form-group">
					<div class="col-lg-9">
					<%#= image_tag @user.profile_picture.image_url, :class=>"standard_image", :style => "height: 75px; width: 75px;" %>
					<%#= link_to 'Change photo', "#", :remote => true, :class => "btn btn-primary btn-xs" %>
					</div>
					</div>
					<div class="form-group">
						<%= f.label :name, "Name", :for => "name", :class => "col-lg-3 control-label" %>
						<div class="col-lg-9">
						<%= f.text_field :name, :class=>"form-control" %>
					<%# end %>
						</div>
					</div>
					<div class="form-group">
						<%= f.label :email, "Email", :for => "email", :class => "col-lg-3 control-label" %>
						<div class="col-lg-9">
						<%= f.text_field :email, :class=>"form-control" %>
						</div>
					</div>
					<div class="form-group">
						<%= f.label :username, "Username", :for => "username", :class => "col-lg-3 control-label" %>
						<div class="col-lg-9">
						<%= f.text_field :username, :class=>"form-control" %>
						</div>
					</div>
					<div class="form-group">
						<%= f.label :phone, "Phone", :for => "phone", :class => "col-lg-3 control-label" %>
						<div class="col-lg-9">
						<%= f.text_field :phone, :class=>"form-control" %>
						</div>
					</div>
					<div class="form-group">
						<%= f.label :status, "Status", :for => "status", :class => "col-lg-3 control-label" %>
						<div class="col-lg-9">
						<%= f.text_field :status, :class=>"form-control" %>
						</div>
					</div>
					<div class="form-group">
						<%= f.label :skype, "Skype", :for => "skype", :class => "col-lg-3 control-label" %>
						<div class="col-lg-9">
						<%= f.text_field :skype, :class=>"form-control" %>
						</div>
					</div>
					<div class="form-group">
						<%= f.label :linkedin, "Linkedin", :for => "linkedin", :class => "col-lg-3 control-label" %>
						<div class="col-lg-9">
						<%= f.text_field :linkedin, :class=>"form-control" %>
						</div>
					</div>
					<div class="form-group">
						<%= f.label :city, "City", :for => "city", :class => "col-lg-3 control-label" %>
						<div class="col-lg-9">
						<%= f.text_field :city, :class=>"form-control" %>
						</div>
					</div>
					<div class="form-group">
						<%= f.label :state, "State", :for => "state", :class => "col-lg-3 control-label" %>
						<div class="col-lg-9">
						<%= f.text_field :state, :class=>"form-control" %>
						</div>
					</div>
					<div class="form-group">
						<%= f.label :country, "Country", :for => "country", :class => "col-lg-3 control-label" %>
						<div class="col-lg-9">
						<%= f.text_field :country, :class=>"form-control" %>
						</div>
					</div>
				<div class="form-group ">
       <%= f.label :designation, "Designation", :for => "designation", :class => "col-lg-3 control-label" %>
        <div class="col-md-9">
          <% if @designation %>
            <%= @designation.title %>
            <%= hidden_field_tag "user[designation_id]", @designation.id %>
          <% else %>
            <%= collection_select(:user, :designation_id, Designation.select("id, title").order("title ASC").all, :id, :title, {:prompt=>true}, {:class => 'form-control'}) %>
          <% end %>
        </div>
      </div>

      <%#= image_tag @user.profile_picture.image_url, :class=>"standard_image" %>
      <%#= link_to 'Change photo', photo_upload_path(@staff), :remote => true, :class => "btn btn-primary btn-xs" %>

      <!-- Choose Department - Drop Down -->
      <div class="form-group ">
        <label for="inp_name" class="col-lg-3 control-label">Department
          <span class="text-color-red ml-10 mr-5 pull-right">*</span>
        </label>
        <div class="col-md-9">
          <% if @department %>
            <%= @department.name %>
            <%= hidden_field_tag "user[department_id]", @department.id %>
          <% else %>
            <%= collection_select(:user, :department_id, Department.select("id, name").order("name ASC").all, :id, :name, {:prompt=>true}, {:class => 'form-control'}) %>
          <% end %>
        </div>
      </div>
      	<div class="pull-right">
      <% button_text = "#{@user.new_record? ? "Create" : "Update"} Item" %>
      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      <%= submit_tag button_text, "data-reset-text"=>button_text, "data-loading-text"=>"Saving ...", :class=>"btn btn-primary ml-10" %>
    </div>
				<!-- </form> -->
				<% end %>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-archon">
			<div class="panel-heading">
				<h3 class="panel-title">
					Form Vertical
					<span class="pull-right">
						<a href="#" class="panel-minimize"><i class="fa fa-chevron-up"></i></a>
						<a href="#" class="panel-settings"><i class="fa fa-cog"></i></a>
						<a href="#" class="panel-close"><i class="fa fa-times"></i></a>
					</span>
				</h3>
			</div>
			<div class="panel-body">
				<form class="form-vertical" role="form">
					<div class="form-group">
						<label>Input</label>
						<input type="email" class="form-control" id="inputEmail4" placeholder="Type something here">
					</div>
					<div class="form-group">
						<label>Color Picker</label>
						<input type="email" class="form-control" id="colorpicker" placeholder="Color picker">
					</div>
					<div class="form-group">
						<label>Prepend</label>
						<div class="input-group">
							<span class="input-group-addon">@</span>
							<input type="text" class="form-control" placeholder="Username">
						</div>
					</div>
					<div class="form-group">
						<label>Checkbox Input</label>
						<div class="input-group">
							<span class="input-group-addon">
								<input type="checkbox">
							</span>
							<input type="text" class="form-control">
						</div><!-- /input-group -->
					</div>
					<div class="form-group">
						<label>Addons</label>
						<div class="input-group">
							<span class="input-group-btn">
								<button class="btn btn-info " type="button">Go!</button>
							</span>
							<input type="text" class="form-control">
						</div><!-- /input-group -->
					</div>
					<div class="form-group">
						<label>Checkboxes</label>
						<div class="checkbox">
							<label>
								<input type="checkbox" value="">
								Option One
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox" value="">
								Option Two
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox" value="">
								Option Three
							</label>
						</div>
					</div>
					<div class="form-group">
						<label>Tags input</label>
						<input id="tags_2" type="text" class="tags" value="php,ios,javascript,ruby,android,kindle" style="display: none;"><div id="tags_2_tagsinput" class="tagsinput tags" style="width: auto; height: 100%;"><span class="tag" style="background-color: rgb(91, 192, 222);"><span>php&nbsp;&nbsp;</span><a class="tagsinput-remove-link"></a></span><span class="tag"><span>ios&nbsp;&nbsp;</span><a class="tagsinput-remove-link"></a></span><span class="tag" style="background-color: rgb(91, 192, 222);"><span>javascript&nbsp;&nbsp;</span><a class="tagsinput-remove-link"></a></span><span class="tag" style="background-color: rgb(91, 192, 222);"><span>ruby&nbsp;&nbsp;</span><a class="tagsinput-remove-link"></a></span><span class="tag"><span>android&nbsp;&nbsp;</span><a class="tagsinput-remove-link"></a></span><span class="tag"><span>kindle&nbsp;&nbsp;</span><a class="tagsinput-remove-link"></a></span><span class="tag"><span>summary&nbsp;&nbsp;</span><a class="tagsinput-remove-link"></a></span><div class="tagsinput-add-container" id="tags_2_addTag"><div class="tagsinput-add"></div><input id="tags_2_tag" value="" data-default="" style="color: rgb(102, 102, 102); width: 68px;"></div></div>
					</div>
					<div class="form-group">
						<label>File input</label>
						<input type="file" id="exampleInputFile">
						<p class="help-block">Example block-level help text here.</p>
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox"> Check me out
						</label>
					</div>
					<button type="submit" class="btn btn-primary">Save Chnages</button>
					<button type="submit" class="btn btn-default">Cancel</button>
				</form>
			</div>
		</div>
	</div>
</div>

<% content_for :javascript_footer do %>

	<script type="text/javascript" src="http://platform.linkedin.com/in.js">
 		api_key: j1vt9fay5imw
	</script>

	<script type="text/javascript">

		function getID() {
		   IN.API.Profile("me").result(function(result) {
		      $("#profile").html('<script type="IN/FullMemberProfile" data-id="' + result.values[0].id + '"></script>');
		      IN.parse(document.getElementById("profile"))
		   })
		}

	</script>

<% end %>

<script type="IN/Login">
	Hello, <?js= firstName ?> <?js= lastName ?>.
</script>

<div id="profile"></div>

<script type="IN/Login" data-onAuth="getID"></script>

