<div class="row">
	<div class="col-md-3">
		<%= display_profile_picture(@user, 180, 180) %>
		<br/>
		<div class="profile-image-button">
      <%= link_to 'Change photo', upload_image_link(@user, user_edit_path, :profile_picture), :remote => true, :class => "btn btn-primary btn-xs" %>
    </div>
  </div>

  <div class="col-md-9">
    <%= form_for( @user, :url => user_update_path, :remote=> true, :html => {:id => "update_user_detail", :method => :put, :class => "form-horizontal"} ) do |f| %>

      <div class="form-group">
        <%= f.label :name, "Name", :for => "name", :class => "col-lg-3 control-label" %>
        <div class="col-lg-9"><%= f.text_field :name, :class=>"form-control" %></div>
      </div>

      <div class="form-group">
        <%= f.label :email, "Email", :for => "email", :class => "col-lg-3 control-label" %>
        <div class="col-lg-9"><%= f.text_field :email, :class=>"form-control" %></div>
      </div>

      <div class="form-group">
        <%= f.label :username, "Username", :for => "username", :class => "col-lg-3 control-label" %>
        <div class="col-lg-9"><%= f.text_field :username, :class=>"form-control" %></div>
      </div>

      <div class="form-group">
        <%= f.label :phone, "Phone", :for => "phone", :class => "col-lg-3 control-label" %>
        <div class="col-lg-9"><%= f.text_field :phone, :class=>"form-control" %></div>
      </div>

      <div class="form-group">
        <%= f.label :status, "Status", :for => "status", :class => "col-lg-3 control-label" %>
        <div class="col-lg-9"><%= f.text_field :status, :class=>"form-control" %></div>
      </div>

      <div class="form-group">
        <%= f.label :skype, "Skype", :for => "skype", :class => "col-lg-3 control-label" %>
        <div class="col-lg-9"><%= f.text_field :skype, :class=>"form-control" %></div>
      </div>

      <div class="form-group">
        <%= f.label :linkedin, "Linkedin", :for => "linkedin", :class => "col-lg-3 control-label" %>
        <div class="col-lg-9"><%= f.text_field :linkedin, :class=>"form-control" %></div>
      </div>

      <div class="form-group">
        <%= f.label :city, "City", :for => "city", :class => "col-lg-3 control-label" %>
        <div class="col-lg-9"><%= f.text_field :city, :class=>"form-control" %></div>
      </div>

      <div class="form-group">
        <%= f.label :state, "State", :for => "state", :class => "col-lg-3 control-label" %>
        <div class="col-lg-9"><%= f.text_field :state, :class=>"form-control" %></div>
      </div>

      <div class="form-group">
        <%= f.label :country, "Country", :for => "country", :class => "col-lg-3 control-label" %>
        <div class="col-lg-9"><%= f.text_field :country, :class=>"form-control" %></div>
      </div>

      <!-- Choose Designation - Drop Down -->
      <div class="form-group ">
        <%= f.label :designation, "Designation", :for => "designation", :class => "col-lg-3 control-label" %>

        <div class="col-lg-9">
          <% if @designation %>
            <%= @designation.title %>
            <%= hidden_field_tag "user[designation_id]", @designation.id %>
          <% else %>
            <%= collection_select(:user, :designation_id, Designation.select("id, title").order("title ASC").all, :id, :title, {:prompt=>true}, {:class => 'form-control'}) %>
          <% end %>
        </div>
      </div>

      <!-- Choose Department - Drop Down -->
      <div class="form-group ">
        <label for="inp_name" class="col-lg-3 control-label">Department
          <span class="text-color-red ml-10 mr-5 pull-right">*</span>
        </label>

        <div class="col-lg-9">
          <% if @department %>
            <%= @department.name %>
            <%= hidden_field_tag "user[department_id]", @department.id %>
          <% else %>
            <%= collection_select(:user, :department_id, Department.select("id, name").order("name ASC").all, :id, :name, {:prompt=>true}, {:class => 'form-control'}) %>
          <% end %>
        </div>
      </div>

      <div class="pull-right">
        <% button_text = "#{@user.new_record? ? "Create" : "Update"} Item" %>
        <%= link_to "Cancel", user_profile_path, remote: true, :class=>"btn btn-default" %>
        <%= submit_tag button_text, "data-reset-text"=>button_text, "data-loading-text"=>"Saving ...", :class=>"btn btn-primary ml-10" %>
      </div>

    <% end %>
  </div>
</div>


