<% user_color = user.user_type.blank? ? "info" : (user.is_super_admin? ? "danger" : "warning") %>

<div class="panel panel-default media p-5 <%= user_color %>">
  <a class="media-left" href="#" style="width:25%;">
  <%= display_user_image(user, "profile_picture.image.thumb.url", width: "60px", popover: user.designation_overridden) %>
  </a>
  <div class="media-body">
    <%= theme_item_title(user.name, admin_user_path(user)) %>
    <%= theme_item_sub_title(user.display_designation) %>
    <%= theme_item_description(user.display_address) %>
  </div>

</div>



