<%# Displays a detailed view of the user %>

<%# Display Flash Message if any only in case of ajax request %>
<% if request.xhr? %>
  <%= render :partial=>"layouts/common/flash_message" %>
<% end %>

<%
  edit_link = edit_admin_user_path(@user)
  delete_link = admin_user_path(@user)
%>

<div class="panel panel-profile">
  <div class="panel-body" style="height:auto;">
    <div class="basic-profile clearfix" style="height:auto;padding:10px;">

      <div class="row">
        <div class="col-sm-5">
          <%= display_profile_picture(@user, 180, 180) %>
          <div class="text-center" style="width:180px;">
              <%= link_to "Change Picture", upload_image_link(@user, delete_link, :profile_picture), :remote => true  %>
          </div>
        </div>

        <div class="col-sm-7">
          <div class="mb-20 text-color-gray">

            <div class="fs-18 text-color-blue pull-left">
              <%= link_to @user.display_name, profile_path(username: @user.username) %>
            </div>

            <% if @user.is_admin? %>
              <span class="pull-left ml-20 mt-5 label label-<%= @user.is_super_admin? ? "danger" : "warning" %>">
                <%= @user.is_super_admin? ? "Super Admin" : "Admin" %>
              </span>
            <% end %>
            <div class="cl"></div>

            <div class="fs-14 text-color-gray"><%= @user.display_designation %></div>

            <% location = @user.display_address %>
            <% unless location.blank? %>
              <div class="text-color-green fs-14"><i class="fa fa-map-marker"></i> <%= location %> </div>
            <% end %>
          </div>
          <div class="">
            <div class="fs-14 p-5">
              <div class="email"><i class="fa fa-envelope mr-20"> </i> <%= @user.email ? @user.email : "<not set>" %></div>
            </div>
            <div class="fs-14 p-5">
              <div class="phone"><i class="fa fa-phone mr-20"> </i> <%= @user.phone ? @user.phone : "<not set>" %></div>
            </div>
            <div class="fs-14 p-5">
              <div class="skype"><i class="fa fa-skype mr-20"> </i> <%= @user.skype ? @user.skype : "<not set>" %></div>
            </div>
            <div class="fs-14 p-5">
              <div class="linkedin"><i class="fa fa-linkedin mr-20"> </i> <%= @user.linkedin ? @user.linkedin : "<not set>" %></div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
  <div class="panel-footer">
    <div class="row">
      <!-- Display Action Buttons -->
      <% if @current_user.is_admin? && ["development", "it", "test"].include?(Rails.env) %>
        <%= link_to "Masquerade", admin_user_masquerade_path(@user),data: { confirm: "Are you sure? Do you really want to logout current session and login as #{@user.name}?" }, :class=>"btn btn-success btn-xs m-10 pull-left" %>
      <% end %>

      <%= link_to raw("<i class=\"icon-pencil icon-white mr-5\"></i> Edit"), edit_link, :class=>"btn btn-default btn-xs pull-right m-10 ", :remote=>true %>
      <%= link_to raw("<i class=\"icon-remove \"></i> Delete"), delete_link, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-danger btn-xs pull-right m-10 ", :remote=>true %>
    </div>
  </div>
</div>

<div id="div_user_projects">
  <%#= render :partial => "admin/users/projects/index", :locals=>{:user => @user} %>
</div>

<%= render :partial => "widgets/more_details", :locals=>{
                      :data_model => @user,
                      :data_columns => [:username, :email, :user_type, :biography, :status, :desigignation_overridden, ],
                      :heading => "User Details",
                      :display_footer => true,
                      :edit_link => edit_link,
                      :delete_link => delete_link} %>

<% if @current_user.is_super_admin? %>
  <%= render :partial => "widgets/more_details", :locals=>{
                        :data_model => @user,
                        :data_columns => [:id, :created_at, :updated_at, :locked_at, :failed_attempts, :unconfirmed_email, :confirmation_sent_at, :confirmed_at, :last_sign_in_ip, :current_sign_in_ip, :last_sign_in_at, :current_sign_in_at, :sign_in_count, :remember_created_at],
                        :heading => "Technical Details",
                        :display_footer => false} %>
<% end %>



